body{
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    overflow: hidden;
    background-size: cover;
    flex-direction: column;
}
.container h2 {
    color: aliceblue;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.watch{
    display: flex;
}

.watch div {
    margin: 5px;
    position: relative;
}


.watch span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100px;
    background: rgba(255, 255, 255, 0.219);
    font-size: 40px;
    color: beige;
    text-shadow: 1px 1px 4px #fff;
}

.watch .text {
    font-size: 20px;
    background: rgba(26, 23, 23, 0.356);
    height: 25px;
    color: azure;
    text-shadow: 0px 0px 0px ;
}

.watch #ampm {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 50px;
    font-size: 20px;
    background-color: rgba(95, 158, 160, 0.288);
}





